<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 명령어</title>
</head>
<body>
    <h1>비순서형 목록</h1>
    <ul>
        <li>목록1</li>
        <li>목록2</li>
        <li>목록3</li>
        <li>목록4</li>
    </ul>
    <h1>순서형 목록</h1>
    <ol>
        <li>item1</li>
        <li>item2</li>
        <li>item3</li>
        <li>item4</li>
        <li>item5</li>
        <li>item6</li>
    </ol>
    <p>남는 있는 인도하겠다는 이는 봄바람이다. 꽃 청춘은 위하여 피에 청춘에서만 설레는 스며들어 품었기 인간이 아름다우냐? 별과 역사를 미묘한 그들의 곳으로 이상, 두기 끝에 봄바람이다.</p>
</body>
</html>
